
<div ng-show="$ctrl.showManageVid()">
<form ng-submit="$ctrl.addVid()">
	Title: <input ng-model="$ctrl.title" type="text" name="text"" required="" /><br>
    URL: <input ng-model="$ctrl.src" type="text" name="text"" required="" /> <br>
    Min: <input ng-model="$ctrl.min" type="number" /> Sec: <input ng-model="$ctrl.sec" type="number" required="" /><br>
    Type: (1-funny; 2-mindblowing; 3-food) <input ng-model="$ctrl.type" type="number" required="" /> <br>
    <input type="submit" value="Add Video"/>
</form>
	<button ng-click="$ctrl.removeVid();">Remove this vid</button>
	<button ng-click="$ctrl.nextVid();">Next Vid</button>
</div>
<br>
<br>
<div id="channel"></div>
<div id="theremote">
	<div id="channelselect">
		<button id="button1" class="channelbtn"  ng-click="$ctrl.turnOnChannel('1');">1</button>
		<button id="button2" class="channelbtn"  ng-click="$ctrl.turnOnChannel('2');">2</button>
		<button id="button3" class="channelbtn"  ng-click="$ctrl.turnOnChannel('3');">3</button>
	</div>
	<div id="extras">
		<button id="like" ng-click="$ctrl.like();"></button>
		<button id="dislike" ng-click="$ctrl.dislike();"></button>
		<button id="spin" title="Catch upp" ng-click="$ctrl.synchronize();"></button>
	</div>
</div>
