<br>
<button  ng-click="$ctrl.turnOnTV();"> Turn On</button>
<br>
<button  ng-click="$ctrl.turnOnChannel('1');">(｡◕‿◕｡) </button>
<button  ng-click="$ctrl.turnOnChannel('2');">¯\_(ツ)_/¯</button>
<button  ng-click="$ctrl.turnOnChannel('3');">(ʘ‿ʘ)</button>
<br>
<button  ng-click="$ctrl.synchronize(); ">Synchronize </button>

<br>
<button ng-click="$ctrl.like();"> Like </button>
<button ng-click="$ctrl.dislike();"> Dislike </button>
<br>
<div ng-show="$ctrl.showManageVid()">
<form ng-submit="$ctrl.addVid()">
	Title: <input ng-model="$ctrl.title" type="text" name="text"" required="" /><br>
    URL: <input ng-model="$ctrl.src" type="text" name="text"" required="" /> <br>
    Min: <input ng-model="$ctrl.min" type="number" /> Sec: <input ng-model="$ctrl.sec" type="number" required="" /><br>
    Type: (1-funny; 2-mindblowing; 3-food) <input ng-model="$ctrl.type" type="number" required="" /> <br>
    <input type="submit" value="Add Video"/>
</form>
</div>
<br>
<div id="channel"></div>
