<br>

<!-- <div id="admin" ng-show="$ctrl.showManageVid();">
	<button ng-click="$ctrl.nextVid();">Next Vid</button>
</div> -->
<div id="channel"></div>


<div id="theremote">
	<div>
		<button id="spin" title="Catch upp" ng-click="$ctrl.synchronize();"></button>
		<button id="off"  ng-click="$ctrl.showTV();"></button>
	</div>
	<div id="channelselect">
		<button title="fun" id="button1" class="channelbtn"  ng-click="$ctrl.turnOnChannel('1');">1</button>
		<button title="mind" id="button2" class="channelbtn"  ng-click="$ctrl.turnOnChannel('2');">2</button>
		<button title="music" id="button3" class="channelbtn"  ng-click="$ctrl.turnOnChannel('3');">3</button>
	</div>
	<div id="extras">
		<button id="like" ng-click="$ctrl.like();"></button>
		<button id="dislike" ng-click="$ctrl.dislike();"></button>
	</div>
</div>
<br>
<button ng-click="$ctrl.nextVid();">Next Vid</button>
