<div id="social">
	<button ng-click="public = true;friendlist = false;private = false;">
		Public
	</button>
	<button ng-click="friendlist =true; public = false; private=false;">
		Friends
	</button>

	<div id="chats" ng-show="public">
		<div id="msgBox">
			<div ng-repeat="msg in $ctrl.messages">
				<button class="usernames" ng-click="$ctrl.requestFriend(msg.user);" ng-style="{color: msg.color}">{{msg.user}} : </button> {{msg.text}}
			</div>
		</div>
		<form class="msgSubmit" ng-submit="$ctrl.addMsg($ctrl.newMsg)">
			<textarea ng-model="$ctrl.newMsg" class="inputBox" placeholder="Send to public"></textarea>
			<input type="submit" value="Send"/>
			<input type="submit" class="submit" style="display: none" />
		</form>
	</div>

	<div id="privatechats" ng-show="private">
		<button ng-click="friendlist =true; public = false; private=false;">
		Back
		</button>
		<div id="privatemsgBox">
			<div ng-repeat="ONE in $ctrl.privatemessages">
				<div ng-repeat = "PM in ONE.messages">
					<div ng-style="$ctrl.PMdiv(PM.sender)">{{PM.text}}</div>
				</div>
			</div>
		</div>
		<form class="msgSubmit" ng-submit="$ctrl.addprivateMsg($ctrl.newPM)">
			<textarea ng-model="$ctrl.newPM" class="inputBox" placeholder="Send PM"></textarea>
			<input type="submit" value="Send"/>
			<input type="submit" class="submit" style="display: none" />
		</form>
	</div>

	<div id="manageFriends" ng-show="friendlist">
		<div id="friendrequests">
			<div ng-repeat ="user in ($ctrl.friendships)">
				<div ng-show="user.requests.length>0">
					Requests:
				</div>
				<div ng-repeat = "request in user.requests">
					{{request}} 
					<button ng-click="$ctrl.acceptFriend(request);">Accept</button>
					<button ng-click="$ctrl.denyFriend(request);">Deny</button>
				</div>
			</div>
		</div>
		<div id="friendlist">
			<div ng-repeat="user in ($ctrl.friendships)">
				<div ng-show="user.friends.length>0">
					Friends:
				</div>
				<div ng-repeat = "friend in user.friends">
					<div class="convo" ng-click="$parent.$parent.private=true;$parent.$parent.public = false;$parent.$parent.friendlist = false;$ctrl.selectFriend(friend);">{{friend}} 
					<br> Let's talk	
					</div>
					<button ng-click="$ctrl.removeFriend(friend);">Remove</button>	

				</div>
			</div>
		</div>

	</div>

</div>
